<mat-vertical-stepper #stepper (selectionChange)="selectionChange($event)">
    <mat-step>
        <ng-template matStepLabel>静态检查</ng-template>
        <app-static-inspection></app-static-inspection>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>动态检查</ng-template>
        <app-dynamic-inspection></app-dynamic-inspection>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>检测结果</ng-template>
        <app-inspection-result></app-inspection-result>
    </mat-step>
</mat-vertical-stepper>