<mat-list>
    <mat-list-item>
        <div class="item"><span>项目名称:</span><span>{{cstateItem.itemName}}</span></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <div class="item"><span>检查结果:</span><span>{{cstateItem.inspectionResult===true? "合格" : cstateItem.inspectionResult===false? "不合格": ""}}</span></div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <div class="item"><span>其他:</span><span>{{cstateItem.description}}</span></div>
    </mat-list-item>
</mat-list>
          