<div class="connection-main">
    <div *ngIf="!bleStateService.connected">
        <a href="#" (click)="scanAndConnect()">
            <svg class="icon" aria-hidden="true"><use href="#icon-BOMbaojia"></use></svg>
            {{connecting? "连接中...":connected? "已连接":"搜索设备"}}
        </a>
    </div>

    <div *ngIf="bleStateService.connected">
        <a href="#" (click)="disconnect()">
            <svg class="icon" aria-hidden="true"><use href="#icon-icon_duankailianjie"></use></svg>
            (已连接)断开连接
        </a>
    </div>
</div>