<div class="main">

    <div class="header"> 
        <app-connection></app-connection>
        <div class="aside">
            <div class="aside-content">
                <a href="#" (click)="openDeviceDetails()">
                    <svg class="icon" aria-hidden="true"><use href="#icon-shebei2"></use></svg>
                    设备详情
                </a>
            </div>
            <div class="aside-content">
                <a href="#" (click)="openSettings()">
                    <svg class="icon" aria-hidden="true"><use href="#icon-shezhi2"></use></svg>
                    设置
                </a>
            </div>
        </div>
    </div>

    <app-cube-container></app-cube-container>

    <div class="content"><app-inspection-base></app-inspection-base></div> 

    <ion-menu side="start" menuId="device-details" content-id="device-content">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>设备信息</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content id="device-content">
            <app-cube-information></app-cube-information>
        </ion-content>
    </ion-menu>

    <ion-menu side="start" menuId="settings" content-id="content">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>设置</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content id="content">
            <!-- <app-cube-information></app-cube-information> -->
        </ion-content>
    </ion-menu>
</div>