<div class="dynamic-inspection-main">
    <div class="cube-face-group">
        <div class="face" *ngFor="let faceItem of faceItems">
            <div class="cube-face yellow"
                [style.opacity]="faceItem.isInspecting? 1: 0.3"
                [class.yellow]="faceItem.itemId===0"
                [class.orange]="faceItem.itemId===1"
                [class.blue]="faceItem.itemId===2"
                [class.red]="faceItem.itemId===3"
                [class.green]="faceItem.itemId===4"
                [class.white]="faceItem.itemId===5">
            </div>
            <span>顺时针:{{faceItem.ClockwiseAngle}}</span>
            <span>逆时针:{{faceItem.CounterclockwiseAngle}}</span>
            <span [class.notChecked]="!faceItem.isInspected"
                [class.qualified]="faceItem.inspectionResult===true"
                [class.failed]="faceItem.inspectionResult===false">
                {{faceItem.isInspected? (faceItem.inspectionResult===true? "合格" : faceItem.inspectionResult===false? "不合格" : "未检查") : "未检查"}}
            </span>
            <svg class="icon" aria-hidden="true" (click)="reInspectItem(faceItem.itemId)"><use href="#icon-caozuo-zhongxinzhihang"></use></svg>
        </div>
    </div>

    <ion-button expand="block" class="reinspect-btn" (click)="reInspectAll()">重新检查</ion-button>
</div>