.item-container {
    display: flex;
    align-items: center;

    svg {
        margin: 0 10px 0 0;
    }

    .icon{
        font-size: 20px;
    }

    el-collapse-item {
        width: 100%;

        .oad-container {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;

            .oad-upload, .oad-select {
                margin: 5px 5px;
            }
            .oad-upgrade {
                width: 100%;
                margin: 5px 15px;
            }
            .oad-progress {
                width: 100%;
                margin: 5px 0 5px 15px;
            }
        }
    }
}
