<el-collapse [model]="[1]" [accordion]="true">
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use [attr.href]="voltageIcon"></use></svg>
        <el-collapse-item label="电压" value="1">
            <div>{{voltageItem.inspectionResult}}</div>
        </el-collapse-item>
        </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="九轴校准参数"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="初始化逻辑魔方状态" value="2">
        </el-collapse-item>
    </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="OAD版本" value="3">
        </el-collapse-item>
    </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="初始化滤波算法" value="4">
        </el-collapse-item>
    </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="ID与序列号合法性" value="5">
        </el-collapse-item>
    </div>
</el-collapse>