<el-collapse [model]="[1]" [accordion]="true" (modelChange)="selectionChange($event)">
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use [attr.href]="sideAxisIcon"></use></svg>
        <el-collapse-item label="检测6个侧面轴" value="1">
            <app-side-axis-inspection (finishedEvent)="finishedEvent($event)"></app-side-axis-inspection>
        </el-collapse-item>
        </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="待检测项目1" value="2">
            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
        </el-collapse-item>
    </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="待检测项目2" value="3">
            <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
            <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
        </el-collapse-item>
    </div>
</el-collapse>