<el-collapse [model]="[1]" [accordion]="true" (modelChange)="selectionChange($event)">
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use [attr.href]="sideAxisIcon"></use></svg>
        <el-collapse-item label="检测6个侧面轴" value="1">
            <app-side-axis-inspection (finishedEvent)="finishedEvent($event)"></app-side-axis-inspection>
        </el-collapse-item>
        </div>
    <div class="item-container">
        <svg class="icon" aria-hidden="true"><use href="#icon-dengdaiqueren"></use></svg>
        <el-collapse-item label="待检测项目" value="2">
        </el-collapse-item>
    </div>
</el-collapse>